body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

.cat-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.cat-item {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cat-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#running-cat {
    position: absolute;
    width: 500px;
    height: auto;
    top: 0;
    left: 0;
    pointer-events: none; /* Để tránh ảnh hưởng đến các sự kiện chuột khác */
    transition: transform 0.1s ease; /* Hiệu ứng di chuyển mượt mà */
}
